@use "base/variables" as v;
@use "base/mixins" as m;

.tabs {
  @include m.tablet {
    display: flex;
  }

  button {
    background-color: v.$azul;
    border: none;
    color: v.$blanco;
    padding: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: v.$bold;
    transition: background-color 0.3s ease; /* Transici贸n de color con duraci贸n de 0.3 segundos y funci贸n de transici贸n 'ease' */

    &:hover {
      cursor: pointer;
      background-color: darken(v.$azul, 10%);
    }
    &.actual {
        background-color: v.$blanco;
        color: v.$azul;
    }
  }
}
